<p>
  <strong>Name:</strong>
  <%= @farm.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @farm.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @farm.address %>
</p>

<p>
  <strong><%= link_to "Plots:", farm_plots_path(@farm), target: :_blank %></strong>
  <ul>
    <% @farm.plots.each do |plot| %>
      <li><%= link_to "#{plot.identifier}", [@farm, plot], target: :_blank %></li>
    <% end %>  
  </ul>
</p>

<p>
  <strong>Users:</strong>
  <ul>
    <% @farm.users.each do |user| %>
      <li><%= user.email %> - <%= link_to 'Remove', farm_destroy_user_path(@farm, user: {user_id: user.id}), method: :post %></li>
    <% end %>  
    <li><%= link_to 'Add user', farm_new_user_path(@farm) %></li>
  </ul>
</p>



<div class="pull-right">
  <%= link_to 'Delete', @farm, class:'btn btn-danger', method: :delete, data: { confirm: '¿Are you sure?' }, title: 'Delete' %>
  <%= link_to 'Edit', edit_farm_path(@farm), class: "btn btn-success" %>
  <%= link_to 'Back', farms_path, class: "btn btn-default" %>
</div>