<h1>Plots</h1>

<table class="table">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Surface</th>
      <th>Greenhouse</th>
      <th>Farm</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <tr>
        <td><%= plot.identifier %></td>
        <td><%= plot.surface %></td>
        <td><%= plot.greenhouse %></td>
        <td><%= plot.farm.name %></td>
        <td>
          <%= link_to '', [@farm, plot], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_farm_plot_path(@farm, plot), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_farm_plot_path(@farm), class: "btn btn-success" %>
  </div>
</div>
