<h1>Problems</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scientific name</th>
      <th>Url</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.name %></td>
        <td><%= problem.scientific_name %></td>
        <td><%= problem.url %></td>
        <td><%= problem.description %></td>
        <td>
          <%= link_to '', problem, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_problem_path(type_problem), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_problem_path, class: "btn btn-success" %>
  </div>
</div>

