<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @problem.scientific_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @problem.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem.description %>
</p>

<div class="pull-right">
  <%= link_to 'Edit', edit_problem_path(@problem), class: "btn btn-success" %>
  <%= link_to 'Back', problems_path, class: "btn btn-default" %>
</div>
