<h1>Varieties</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scientific name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @varieties.each do |variety| %>
      <tr>
        <td><%= variety.name %></td>
        <td><%= variety.scientific_name %></td>
        <td><%= variety.url %></td>
        <td><%= variety.description %></td>
        <td>
          <%= link_to '', variety, class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_variety_path(variety), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_variety_path, class: "btn btn-success" %>
  </div>
</div>
