<h1>Plantations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Species</th>
      <th>Plot</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plantations.each do |plantation| %>
      <tr>
        <td><%= plantation.amount %></td>
        <td><%= plantation.species.name %></td>
        <td><%= plantation.plot.identifier %></td>
        <td>
          <%= link_to '', [@farm, @plot, plantation], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_farm_plot_plantation_path(@farm, @plot, plantation), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_farm_plot_plantation_path, class: "btn btn-success" %>
  </div>
</div>
