<%= bootstrap_form_with(model: [farm, plot, product_application], local: true) do |form| %>
  <% if product_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_application.errors.count, "error") %> prohibited this product_application from being saved:</h2>

      <ul>
      <% product_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :amount %>

  <%= form.text_area :comment %>

  <%= form.select(:product_id, products_for_select, :prompt => 'Select') %>

  <div class="field">
    <%= form.label :plot_id %>
    <%= form.text_field :plot_id %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
