<h1>Plot Problems</h1>

<table class="table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Problem</th>
      <th>Plot</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plot_problems.each do |plot_problem| %>
      <tr>
        <td><%= plot_problem.comment %></td>
        <td><%= plot_problem.problem.name %></td>
        <td><%= plot_problem.plot.identifier %></td>
        <td>
          <%= link_to '', [@farm, @plot, plot_problem], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_farm_plot_plot_problem_path(@farm, @plot, plot_problem), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_farm_plot_plot_problem_path, class: "btn btn-success" %>
  </div>
</div>