<p>
  <strong>Comment:</strong>
  <%= @plot_problem.comment %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @plot_problem.problem.name %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @plot_problem.plot.identifier %>
</p>

<div class="pull-right">
  <%= link_to 'Edit', edit_farm_plot_plot_problem_path(@farm, @plot, @plot_problem), class: "btn btn-success" %>
  <%= link_to 'Back', farm_plot_plot_problems_path, class: "btn btn-default" %>
</div>
