<h1>Crops</h1>

<table class="table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Amount</th>
      <th>Variety</th>
      <th>Plot</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @crops.each do |crop| %>
      <tr>
        <td><%= crop.comment %></td>
        <td><%= crop.amount %></td>
        <td><%= crop.variety.name %></td>
        <td><%= crop.plot.identifier %></td>
        <td>
          <%= link_to '', [@farm, @plot, crop], class:'glyphicon glyphicon-eye-open btn btn-xs btn-default', title: 'Show' %>
          <%= link_to '', edit_farm_plot_crop_path(@farm, @plot, crop), class:'glyphicon glyphicon-pencil btn btn-xs btn-default', title: 'Edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="pull-right">
  <div class="btn-right">
    <%= link_to 'New', new_farm_plot_crop_path, class: "btn btn-success" %>
  </div>
</div>